* {
    padding: 0px;
    margin: 0px;
    font-style: none;
    text-decoration: none;

}

html {
    width: infinite;
    height: infinite;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto";
}

.top {
    width: inherit;
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #Ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    position: sticky;
    float: inline-start;
    transition: .5s ease;
    z-index: 10;
    
}

.main-logo {
    padding-left: 100px;
}

.logo {
    max-height: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    padding-right: 100px;
}

.menu-list {
    display: flex;
    align-items: center;
    color: #333;
}

.menu-item {
    margin-left: 35px;
    font-size: 16px;
}

.top-button {
    background-color: #FFB703;
    padding: 26px 35px;
    border: none;
    font-weight: 500;
    color: #010d14 !important;
    line-height: 0;
}


/*--------------- Hero Section-----------*/

.hero {
    background-image: url("images/sld_2.jpg");
    background-size: cover;
    background-position: right right ;
    padding: 6.5rem ;
    padding-top: 100px;
}

.hero-dash {
    content: "\2014";
}

.hero-hedding {
    font-size: 90px;
    font-family: 'Playfair Display' !important;
    font-weight: 700;
}

.hero-hedding-2 {
    font-size: 70px;
    font-family: 'Playfair Display' !important;
    font-weight: 500;
    line-height: 4rem;
    margin-bottom: 35px;
    display: flex;
}

.hero-house{
    margin-left: 1%;
    /*background-image: linear-gradient(180deg, tr 50%, blue 50%);*/
    border-bottom: #FFB703 solid 15px;
    display: flex;
    height: 50px;
}

.hero-para {
    width: 50%;
    font-size: 15px;
    line-height: 30px;
}

.hero-button {
    margin-top: 30px;
    font-weight: 700;
    font-size: 12px;
}


/* About Section*/


.sec-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
    padding: 100px 30px 100px 30px;

}

.two {
    grid-column: 2/2;
    grid-row: 1;
    font-size: 18px;
}

.three {
    grid-column: 2/2;
    grid-row: 2;

}

.four {
    grid-column: 2/2;
    grid-row: 3;
    margin-bottom: 0px;
    margin-top: 5px;

}

.one {
    grid-column: 1/2;
    grid-row: 1/8;
    margin-right: 10px;
    text-align: center;
}


.five {
    grid-column: 2/2;
    grid-row: 4;
    margin-bottom: 10px;
    margin-top: 10px;
}

.six {
    grid-column: 2/2;
    grid-row: 5;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
    padding-right: 25%;
}

.left-5 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Serif Display', serif !important;
}

.about-list {
    text-align: left;

}

.seven {
    grid-column: 2/2;
    grid-row: 6;
}

.about-para {
    font-size: 14px;
    font-family: 'roboto' !important;
    font-weight: 500;
    padding-right: 40px;
    line-height: 2rem;
}

.about-3 {
    font-size: 18px;
    font-weight: 500;
}

.about-image {
    width: 500px;
}

.about-list-item {
    padding-right: 30%;
}

.left-h3 {
    padding-top: 15px;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Playfair Display' !important;
}

.left-h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: 'DM Serif Display', serif !important;
}

.about-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;
}

.list-icon::before {
    font-size: 10px;
    color: #010d14;
    background: #ffb703;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-right: 15px;
}






/* ----------------Services Section---------------*/

.services {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

.services-contaner {
    display: flex;
    justify-content: space-between;
    padding: 6.5rem;
}

.services-box {
    width: 25%;
    background-color: #Ffffff;
    padding: 30px 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.services-para {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
}

.services-btn {
    background-color: #FFB703;
    padding: 26px 35px;
    border: none;
    font-weight: 500;
    color: #010d14 !important;
    line-height: 0;
}

.section-2 {
    background-image: url("images/double-sec-bg.png");
    background-size: cover;
}

.services-img {
    width: 40px;
    padding: 15px;
    background-color: #FFB703;
    margin-bottom: 15px;
}




/* ----------Numbring   --------*/

.numbring{
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: "roboto";
    padding: 100px 0px;
    background-image: url(/learning-And-Making-Projects/images/counter_bg_2.jpg);
    color: #FFB703;
}
.shadow{
    width: 30px;
    height: 100px;
    background-color: #FFB7031F;
    padding: 20px;
    margin: 0px 100px;
}

.numbers::after{
    content: '+';
    margin-left: 5px;
}

.numbers{
    font-family: 'roboto';
    font-weight: 600;
}

.numbring p{
    font-size: 16px;
    color: white;
    margin-top: 10px;
    width: max-content;
}


/*------- Latest projests-----*/

.latest-projests{
    margin-top: 100px;
    margin-bottom: 30px;
}



/*---------latest projest slides------*/
.latest-slider{
    margin-bottom: 100px;
}

.card {
    height: 330px;
    color: white;
    font-size: 40px;
    margin: 10px;
    flex: 200px 0 0;
  }

  .cards img {
      width: 100% !;
      object-fit: cover;
  }

.slider-images{
    width: 300px;
}

  .cards-wrapper {
    display: flex; 
    transition: ease 0.5s;
  }
  .display-area {
    width: 85%;
    overflow-x: hidden;
    margin: auto;
  }
  
  .dots-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .dot {
    border: none;
    background-color: #FFB703;
    width: 50px;
    height: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  .dot:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .dot.active {
    background: rgba(0, 0, 0, 0.5);
  }
/*--------latest projest slides ends----*/



/*----------- testimonial section-----------*/

.testimonial{
    background-color: #EFF3FA;
}

.quotes{
    width: 80px;
    margin-bottom: 30px;
}

.testimonial-slider-top{
    margin-top: 50px;
    margin-right: 10%;
}

#testimonial{
    margin-bottom: 0%;
}
/*--------------testimonial slider---------*/



.slideshow-container {
    padding: 50px 50px 100px 50px;
    position: relative;
    margin: auto;
    background-color: white;
  }
  
  .mySlides{
    font-family: 'DM Serif Display', serif !important;
    font-style: italic;
    line-height: 1.7em;
    font-size: 18px;
  }
  
  /* The dots/bullets/indicators */
  .tdot {
    cursor: pointer;
    width: 50px;
    height: 10px;
    margin: 0 2px;
    background-color: #FFB703;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }




  /* ---------request services--------------*/

  
.project-services{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-image: url(/learning-And-Making-Projects/images/2.jpg) ;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 100px;
    margin-top: -32px;
}

.project-services-left p {
    color: white;
    font-size: 42px;
    font-family: 'DM Serif Display', serif !important;
}

.project-services-left h1{
    color: white;
    font-size: 18px;
}


/*------------ News & Blog --------------*/

.blog{
    width: 100%;
    margin-bottom: 10px;
}

#blog{
    padding-top: 50px;
}
.news-name{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-name p{
    font-weight: 500;
    margin-right: 30px;
}



/* ------------partner---------*/
.partner{
    display: flex;
    justify-content: space-around;
    background-color: #EFF3FA;
    padding: 50px 100px;
}

.partner img{
    width: 60px;
}


/*------------contect section------*/

.contect-section{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    background-image: url(images/contact-bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.contect-section form input{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
}

.contect-section img{
    width: 500px;
}

.contacts-info{
    background-color: white;
    margin: 20px;
    width: 200px;
    padding: 40px 80px 40px 40px;
}
.contact-hedding{
    margin-top: 100px;
}

.contact{
    margin-top: 100px;
}

.fill-it{
   width: 400px;
}

.message{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
}

.form-submit{
    padding: 18px 40px;
    background-color: #FFB703;
    border: none;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
}



/*------------footer---------*/

.footer{
    display: flex;
    padding: 80px 80px 80px 80px;
    justify-content: space-between;
    line-height: 1.5rem;
    list-style: none;
    background-image: url(images/footer-bg.jpg);
    background-size: cover;
    color: white;
    overflow: hidden;
    
}

.footer-1 img{
    width: 200px;
    margin-bottom: 40px;
}

.footer-1{
    padding: 0px 10px;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 20px;
}

.footer-hedding{
    font-size: 20px;
    margin-bottom: 50px;
    min-width: 150px;
}

.footer p{
    margin-bottom: 30px;
    font-size: 14px;
}

.footer-icon{
    display: flex;
}
.footer-1 i{
    margin-right: 20px;
    padding-top: 5px;
    color: #FFB703;
}

.footer-1 ul{
    margin-bottom: 20px;
    width: max-content;
    font-size: 14px;
}

.subscribe-email{
    width: 15rem;
    height: 3rem;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #333;

    color: white;
}

.subscribe-button{
    width: 15.7rem;
    height: 3rem;
    background-color: #FFB703;
    border: none;
    font-size: 15px;
    font-weight: 500;
    
}

.footer-first{
    width: 450px;
}

.footer-1 ul::before{
    content: '>';
    padding-right: 15px;
    color: #FFB703;
    font-size: 20px;
}

.footer-subscribe{
    margin-left: 10rem;
}

/*-----------Tablet size----------*/

@media only screen and (max-width: 768px) {



    .nav-bar {
        width: 768px;
        height: 70px;
        overflow: hidden;
    }

    .top {
        width: 768px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        position: fixed;
        float: left;

    }

    .main-logo {
        padding-left: 30px;
    }

    .logo {
        max-height: 26px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu {
        padding-right: 30px;
        overflow: hidden;
    }

    .menu-list {
        display: flex;
        align-items: center;
        margin-right: 0px;

    }

    .menu-item {
        margin-left: 15px;
        font-size: 12px;
    }

    .top-button {
        padding: 20px 27px;
        border: none;
        font-weight: 500;
        line-height: 0;
        font-size: 12px;
    }




    .hero {
        width: 768px;
        height: auto;
        background-image: url("images/sld_2.jpg");
        background-size: cover;
        padding: 0rem;
        background-position: right;
        overflow: hidden;
    }

    .hero-left {
        padding: 5rem 3rem;
    }

    .hero-dash {
        content: "\2014";
    }

    .hero-hedding {
        font-size: 45px;
        font-family: 'Playfair Display' !important;
        font-weight: 600;
    }

    .hero-hedding-2 {
        font-size: 35px;
        font-family: 'Playfair Display' !important;
        font-weight: 500;
        line-height: 2.5rem;
        margin-bottom: 20px;
    }

    .hero-para {
        width: 50%;
        font-size: 15px;
        line-height: 25px;
    }

    .hero-button {
        margin-top: 30px;
    }









    .sec-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(20px, auto);
        padding: 60px 30px 60px 30px;

    }

    .two {
        grid-column: 1/3;
        grid-row: 1;
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .three {
        grid-column: 1/3;
        grid-row: 2;
        text-align: center;
    }

    .four {
        grid-column: 1/3;
        grid-row: 3;
        margin-bottom: 30px;
        margin-top: 5px;
        text-align: center;
    }

    .one {
        grid-column: 1/2;
        grid-row: 4/8;
        margin-right: 20px;
    }


    .five {
        grid-column: 2/2;
        grid-row: 4;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .six {
        grid-column: 2/2;
        grid-row: 5;
        margin-bottom: 10px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .left-5 {
        font-size: 18px;
        font-weight: 500;
        font-family: 'DM Serif Display', serif !important;
    }

    .about-list {
        text-align: left;
    }

    .seven {
        grid-column: 2/2;
        grid-row: 6;
    }

    .about-para {
        font-size: 14px;
        font-family: 'roboto' !important;
        font-weight: 500;
        padding-left: 40px;
        padding-right: 40px;
    }

    .about-3 {
        font-size: 18px;
        font-weight: 500;
    }


    .section-2 {
        width: 768px;
    }

    .about {
        display: flex;
        padding: 5rem 2rem 5rem 2rem;
        align-items: center;
    }

    .about-image {
        width: 300px;
        height: auto;
        text-align: right;
    }

    .about-left {
        margin-left: 30px;
    }

    .left-h3 {
        padding-top: 15px;
        font-size: 22px;
        font-family: 'Playfair Display' !important;
        font-weight: 500;
    }

    .left-para {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 25px;

    }

    .left-h5 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
        font-family: 'DM Serif Display', serif !important;
    }

    .about-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-top: 10px;
    }

    .list-icon::before {
        font-size: 10px;
        color: #010d14;
        background: #ffb703;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        margin-right: 15px;
    }

    .left-list {
        padding-right: 60px;
    }

    .list-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }




}





/*  ---------------  Mobile Version  ---------- */

@media only screen and (max-width: 425px) {

    body {
        width: 425px;
    }

    .nav-bar {
        max-width: 425px;
        height: 50px;
        overflow: hidden;
    }

    .top {
        width: 425px;
        max-width: 425px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        position: fixed;
        float: left;

    }

    .main-logo {
        padding-left: 30px;
    }

    .logo {
        max-height: 10px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .menu {
        padding-right: 30px;
        overflow: hidden;
    }

    .menu-list {
        display: flex;
        align-items: center;
        margin-right: 0px;
    }

    .menu-item {
        margin-left: 15px;
        font-size: 10px;
    }

    .top-button {
        padding: 10px 30px;
        border: none;
        font-weight: 500;
        line-height: 1;
        font-size: 10px;
    }


    /* Mobile hero*/

    .hero {
        width: 425px;
        height: auto;
        background-image: url("images/sld_2.jpg");
        background-size: cover;
        padding: 0rem ;
        background-position: 75% 0% ;
        overflow: hidden;
    }

    .hero-arrow {
        font-size: 12px;
    }

    .hero-left {
        padding: 3rem 2rem;
        margin-top: 70px;
    }

    .hero-dash {
        content: "\2014";
    }

    .hero-hedding {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 22px;
        font-family: 'Playfair Display' !important;
        font-weight: 600;
    }

    .hero-hedding-2 {
        font-size: 20px;
        font-family: 'Playfair Display' !important;
        font-weight: 500;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }

    .hero-para {
        width: 70%;
        font-size: 12px;
        line-height: 20px;
    }

    .hero-button {
        margin-top: 20px;
    }



    /* mobile about  */



    .sec-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(20px, auto);
        padding: 60px 30px;

    }

    .two {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .three {
        grid-column: 1;
        grid-row: 2;
        text-align: left;

    }

    .four {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 30px;
        margin-top: 5px;
        text-align: left;
    }

    .one {
        grid-column: 1;
        grid-row: 4;
        margin-right: 0px;
        text-align: left;
    }


    .five {
        grid-column: 1;
        grid-row: 5;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .six {
        grid-column: 1;
        grid-row: 6;
        margin-bottom: 10px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .left-5 {
        font-size: 15px;
        font-weight: 500;
        font-family: 'DM Serif Display', serif !important;
    }

    .about-list {
        text-align: left;
        font-size: 12px;
    }

    .seven {
        grid-column: 1;
        grid-row: 7;
    }

    .about-para {
        font-size: 14px;
        font-family: 'roboto' !important;
        font-weight: 500;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about-image {
        width: 350px;
        height: auto;
    }

    .about-left {
        margin-left: 30px;
    }

    .left-h3 {
        padding-top: 15px;
        font-size: 22px;
        font-family: 'Playfair Display' !important;
        font-weight: 500;
    }

    .left-h5 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 100;
        font-family: 'DM Serif Display', serif !important;
    }

    .about-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-top: 10px;
        font-size: 14px;
    }

    .list-icon::before {
        font-size: 12px;
        color: #010d14;
        background: #ffb703;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        margin-right: 15px;
    }

    .left-list {
        padding-right: 60px;
    }

    .list-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }




    /* Services*/

    .services {
        text-align: left;
        margin-right: 30px;
        margin-left: 30px;
    }

    .services-top {
        text-align: center;
        margin-bottom: 10px;
    }

    .services-contaner {
        display: block;
        justify-content: space-between;
        padding: 30px;
    }

    .services-box {
        width: auto;
        background-color: #Ffffff;
        padding: 30px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .services-para {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 13px;
        line-height: 25px;
    }

    .services-btn {
        background-color: #FFB703;
        padding: 17px 17px;
        border: none;
        font-weight: 500;
        color: #010d14 !important;
        line-height: 0;
    }

    .section-2 {
        background-image: url("images/double-sec-bg.png");
        background-size: cover;
        max-width: 425px;
    }

    .services-img {
        width: 30px;
        padding: 10px;
        background-color: #FFB703;
        margin-bottom: 15px;
    }

}